.post {
  margin-top: 30px;
  display: flex;
  background-color: rgb(249, 246, 246);
  width: 650px;
  height: 400px;
  border-radius: 6px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}

.post-picture {
  border-radius: 6px;
  background-color: white;
  width: 50%;
  height: 100%;
  object-fit: cover;
}

.post-username {
  font-weight: 600;
  margin-left: 40px;
}

.line {
  margin-top: 5px;
  border-bottom: 1px solid #dedcdcf7;
  width: 324px;
}

.meme-container {
  position: relative;
  width: 500px;
  height: 500px;
  border: 1px solid black;
  margin: auto;
  margin-left: 50px;
}

.meme-container img {
  max-width: 100%;
  max-height: 100%;
}

textarea {
  width: 300px;
  height: 290px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: white;
  font-size: 16px;
  resize: none;
  border-radius: 0%;
}

.posts-section {
  height: 740px;
  overflow-y: scroll;
}
